{% extends 'page.html.twig' %}

{% block title %}Panneau utilisateur{% endblock %}

{% block page %}

<div class="row text-center">

    <div class="col-lg-4 my-4">
        <h1>{{ selected.nom }}</h1>
        <h4>{{ selected.role.nom }}</h4>
    </div> <!-- /.col-lg-4 -->

    <div class="col-lg-8 my-4">

        <div class="card card-outline-secondary my-4">
            <div class="card-body">
                <p>{{ selected.avis|length }} avis</p>
                {% for avi in selected.avis %}
                    <hr>
                    <p><a href="{{ path('item', { 'id': avi.fromage.id }) }}">{{ avi.fromage.nom }}</a></p>
                    <p class="text-warning">
                        {% for i in 1..5 %}
                            {{ avi.note >= i ? "&#9733; " : "&#9734;" }}
                        {% endfor %}
                    </p>
                    <p>"{{ avi.texte }}"</p>
                {% endfor %}
            </div>

        </div> <!-- /.card -->

    </div> <!-- /.col-lg-4 -->

</div> <!-- /.row -->
{% endblock %}
